.footer {
  background: #242f9b;
  padding-top: 8vh;
  .container {
    height: 420px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h2 {
      color: #fff;
    }
    h4,
    p,
    a {
      color: #e4e4e4;
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
    }
    .link {
      margin-bottom: 3vh;
      a {
        transition: 0.2s ease;
      }
      a:hover {
        color: #c5c5c5;
        transition: 0.4s ease;
      }
    }
    .layanan {
      li {
        margin-bottom: 1vh;
      }
    }
    .contacts {
      li {
        display: inline;
        margin-right: 1.5vw;
      }
    }
  }
}
